{% extends 'base.html' %}
{% load pybo_filter %}

{% block content %}
<!-- 질문 목록 테이블 -->
<div class="container my-3">
  <div class="row justify-content-between my-3">
    <div class="col-2">
      <select class="form-control so">
        <option value="recent" {% if so == 'recent' %}selected{% endif %}>최신순</option>
        <option value="recommend" {% if so == 'recommend' %}selected{% endif %}>추천순</option>
        <option value="popular" {% if so == 'popular' %}selected{% endif %}>인기순</option>
      </select>
    </div>
    <div class="col-4 input-group">
      <!-- 검색어 입력란 -->
      <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
      <div class="input-group-append">
        <!-- 검색 버튼 -->
        <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
      </div>
    </div>
  </div>
  <table class="table">
    <!-- 테이블 Column -->
    <thead>
      <tr class="text-center thead-dark">
        <th>번호</th>
        <th>추천</th>
        <th style="width: 45%;">제목</th>
        <th>글쓴이</th>
        <th>작성일시</th>
      </tr>
    </thead>
    <!-- 테이블 Rows -->
    <tbody>
      <!-- 질문이 있을 경우 -->
      {% if question_list %}
      <!-- 각각의 질문 출력 -->
      {% for question in question_list %}
      <tr class="text-center">
        <!-- 전체개수 - 시작 인덱스 - 현재 인덱스 + 1 -->
        <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
        <td>
          {% if question.voter.all.count > 0 %}
          <span class="badge badge-warning px-2 py-1">{{ question.voter.all.count }}</span>
          {% endif %}
        </td>
        <td class="text-left">
          <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
          {% if question.answer_set.count > 0 %}
          <span class="text-danger small ml-2">{{ question.answer_set.count }}</span>
          {% endif %}
        </td>
        <td>{{ question.author.username }}</td>
        <td>{{ question.create_date }}</td>
      </tr>
      {% endfor %}
      <!-- 질문이 없을 경우 다음 출력 -->
      {% else %}
      <tr>
        <td colspan="3">질문이 없습니다.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <!-- 만약 이전 페이지가 있을 경우 -->
    {% if question_list.has_previous %}
    <!-- 이전 페이지 활성화 -->
    <li class="page-item">
      <!-- <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a> -->
      <a class="page-link" data-page="{{ question_list.previous_page_number }}" href="#">이전</a>
    </li>
    <!-- 그렇지 않을 경우(이전 페이지가 없을 경우) -->
    {% else %}
    <!-- 이전 페이지 비활성화 -->
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    <!-- 페이지 번호 반복문 -->
    {% for page_number in question_list.paginator.page_range %}
    <!-- question_list.number - 5 <= pag_number <= question_list.number + 5 -->
    {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
    <!-- 만약 현재 페이지일 경우 -->
    {% if page_number == question_list.number %}
    <!-- 현재 활성화 표시 -->
    <li class="page-item active" aria-current="page">
      <!-- <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a> -->
      <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
    </li>
    <!-- 그렇지 않을 경우 -->
    {% else %}
    <!-- 페이지 출력 -->
    <li class="page-item">
      <!-- <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a> -->
      <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
    <!-- 만약 다음 페이지가 있을 경우 -->
    {% if question_list.has_next %}
    <!-- 다음 페이지 활성화 -->
    <li class="page-item">
      <!-- <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a> -->
      <a class="page-link" data-page="{{ question_list.next_page_number }}" href="#">다음</a>
    </li>
    <!-- 그렇지 않을 경우(다음 페이지가 없을 경우) -->
    {% else %}
    <!-- 다음 페이지 비활성화 -->
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
  </ul>
  <!-- 질문 생성 버튼 -->
  <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문 등록하기</a>
</div>
<form id="searchForm" method="get" action="{% url 'index' %}">
  <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
  <input type="hidden" id="page" name="page" value="{{ page }}">
  <input type="hidden" id="so" name="so" value="{{ so }}">
</form>
{% endblock %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    $(".page-link").on('click', function() {
      $("#page").val($(this).data("page"));
      $("#searchForm").submit();
    })
    $("#btn_search").on('click', function() {
      $("#kw").val($(".kw").val());
      // 1페이지부터 조회
      $("#page").val(1);
      $("#searchForm").submit();
    })
    $(".so").on('change', function(){
      $("#so").val($(this).val());
      $("#page").val(1);
      $("#searchForm").submit();
    })
  })
</script>
{% endblock %}