{% extends 'base.html' %}
{% load pybo_filter %}

{% block content %}
<!-- 질문 목록 테이블 -->
<div class="container my-3">
  <table class="table">
    <!-- 테이블 Column -->
    <thead>
      <tr class="thead-dark">
        <th>번호</th>
        <th>제목</th>
        <th>작성일시</th>
      </tr>
    </thead>
    <!-- 테이블 Rows -->
    <tbody>
      <!-- 질문이 있을 경우 -->
      {% if question_list %}
      <!-- 각각의 질문 출력 -->
      {% for question in question_list %}
      <tr>
        <!-- 전체개수 - 시작 인덱스 - 현재 인덱스 + 1 -->
        <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
        <td>
          <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
          {% if question.answer_set.count > 0 %}
          <span class="text-danger small ml-2">{{ question.answer_set.count }}</span>
          {% endif %}
        </td>
        <td>{{ question.create_date }}</td>
      </tr>
      {% endfor %}
      <!-- 질문이 없을 경우 다음 출력 -->
      {% else %}
      <tr>
        <td colspan="3">질문이 없습니다.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <!-- 만약 이전 페이지가 있을 경우 -->
    {% if question_list.has_previous %}
    <!-- 이전 페이지 활성화 -->
    <li class="page-item">
      <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
    </li>
    <!-- 그렇지 않을 경우(이전 페이지가 없을 경우) -->
    {% else %}
    <!-- 이전 페이지 비활성화 -->
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    <!-- 페이지 번호 반복문 -->
    {% for page_number in question_list.paginator.page_range %}
    <!-- question_list.number - 5 <= pag_number <= question_list.number + 5 -->
    {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
    <!-- 만약 현재 페이지일 경우 -->
    {% if page_number == question_list.number %}
    <!-- 현재 활성화 표시 -->
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    <!-- 그렇지 않을 경우 -->
    {% else %}
    <!-- 페이지 출력 -->
    <li class="page-item">
      <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
    <!-- 만약 다음 페이지가 있을 경우 -->
    {% if question_list.has_next %}
    <!-- 다음 페이지 활성화 -->
    <li class="page-item">
      <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
    </li>
    <!-- 그렇지 않을 경우(다음 페이지가 없을 경우) -->
    {% else %}
    <!-- 다음 페이지 비활성화 -->
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
  </ul>
  <!-- 질문 생성 버튼 -->
  <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문 등록하기</a>
</div>
{% endblock %}